{%extends 'layout.html'%}
{%block content%}
{% load static %}
<!--

	<!--/header-->
</section>
<script src="{% static 'assets/js/jquery-3.3.1.min.js'%}"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
<!--bootstrap working//-->
<!--/MENU-JS-->
<script>
	$(window).on("scroll", function () {
	  var scroll = $(window).scrollTop();
  
	  if (scroll >= 80) {
		$("#site-header").addClass("nav-fixed");
	  } else {
		$("#site-header").removeClass("nav-fixed");
	  }
	});
  
	//Main navigation Active Class Add Remove
	$(".navbar-toggler").on("click", function () {
	  $("header").toggleClass("active");
	});
	$(document).on("ready", function () {
	  if ($(window).width() > 991) {
		$("header").removeClass("active");
	  }
	  $(window).on("resize", function () {
		if ($(window).width() > 991) {
		  $("header").removeClass("active");
		}
	  });
	});
  </script>
  <!--//MENU-JS-->
<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->
<!--theme switcher dark and light mode script-->
<script>
	const bodyElement = document.querySelector('body');
	const themeToggle = document.querySelector('#themeToggle');
	const darkModeMql = window.matchMedia('(prefers-color-scheme: dark)');
  
	const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : userPreference(darkModeMql);
  
	if (currentTheme) {
	  bodyElement.classList.add(currentTheme);
  
	  if (currentTheme === 'dark') {
		themeToggle.checked = true;
	  }
	}
  
	function userPreference(e) {
	  if (e.matches) {
		bodyElement.classList.add("dark");
		return "dark"
	  } else {
		bodyElement.classList.remove("dark");
		return ""
	  }
	}
  
	darkModeMql.addListener(userPreference);
  
	function themeSwitcher(e) {
	  if (e.target.checked) {
		bodyElement.classList.add('dark');
		localStorage.setItem('theme', 'dark');
	  } else {
		bodyElement.classList.remove('dark');
		localStorage.setItem('theme', '');
	  }
	}
  
	themeToggle.addEventListener('change', themeSwitcher);
  </script>
  <!--theme switcher dark and light mode script//-->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 50%;
  padding: 0 10px;
}

.card {
  margin-bottom: 20px;
}
</style>
</head>
<body>
<h2 style="text-align:center">Profile</h2>
<br><br>



<div class="row" style="height: 100px ;">
  <div class="col-md-4 col-sm-4 col-lg-4" >
    <div class="card" style="height: 150px ;">
      
      <h3>Krishi Bhavan</h3>
      <h3>Manappady Road Pavaratty P O</h3>
      <p></p>
    
     
    </div>
   
  </div>

</div>






</body>



<!-- breadcrumbs -->
<!-- <section class="w3l-inner-banner-main">
    <div class="about-inner contact">
        <div class="breadcrumbs-sub">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="index.html" class="editContent">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
                <li class="active editContent">
                    Contact</li>
            </ul>
            </div>
</div>
</div>
</section> -->
<!-- breadcrumbs //-->
<!-- <section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	editContent">
        <div class="container">
    <div class="map-content-9 mb-5 ">
        <form action="//sendmail.w3layouts.com/submitForm" method="post">
            <div class="twice-two">
                <input type="text" class="form-control" name="w3lName" id="w3lName" placeholder="Name" required="">
                <input type="email" class="form-control" name="w3lSender" id="w3lSender" placeholder="Email" required="">
                <input type="text" class="form-control" name="w3lSubject" id="w3lSubject" placeholder="Subject" required="">
            </div>
            <textarea name="w3lMessage" class="form-control" id="w3lMessage" placeholder="Message" required=""></textarea>

            <div class="text-right">
                <button type="submit" class="btn btn-contact">Send Message</button>
            </div>
        </form>
    </div>

            <div class="d-grid contact-view">

                <div class="cont-details">
                    <h3 class="sub-title">Quick Contact</h3> 
                    <p class="para mt-3 mb-4">Consectetur adipisicing elit.Lorem ipsum dolor sit amet Dignissimos commodi laborum.</p>
                    <div class="cont-top">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"><a href="tel:+44 99 555 42">+123 45 67 89</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"><a href="mailto:example@mail.com" class="mail">example@mail.com</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"> California, #32841 block,
                                <br> #221DRS 75 West Rock,
                                <br> Maple Building, UK.</p>
                        </div>
                    </div>
                </div>
                 -->







                <div class="map-iframe ">
                  <h3>
                    GOOGLE LINK
                  </h3>

                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3922.246070455198!2d76.06339157460079!3d10.55990746315103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba793415bfd90a5%3A0x853d637bf06690f8!2sKrishi%20Bhavan%20Rd%2C%20Pavaratty%2C%20Kerala%20680507!5e0!3m2!1sen!2sin!4v1691147127792!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   </div>
            </div>

        </div>
    </div>
</section>

{%endblock%}