{%extends 'layout.html'%}
{%block content%}
{% load static %}
<br><br><br><br><br>
<br><br>
<body background="{% static 'assets/images/BG image 3.jpg' %}" style="height: 800px;">
<center>
    <button style="margin-left: 30px; width: 150px;"><a class="btn btn-ash btn-md" href="/add_scheme">Add Scheme</a></button>
    <button style="margin-left: 30px; width: 150px;"><a class="btn btn-ash btn-md" href="/view_sub_schemes">View Scheme</a></button>
    <button style="margin-left: 30px; width: 200px;"><a class="btn btn-ash btn-md" href="/view_applied_schemes">View Scheme Booking</a></button>
    
    

</center><br><br>
<center>
    <form method="post" enctype="multipart/form-data" style="width: 30%;">

        {% csrf_token %}

        {{form.as_p}}
        <br>
    <div>
    <input type="submit" value="REGISTER" style="width: 130px;">
    </div>
<br><br>
<br><br>
    </form>
</center>
</body>
    {%endblock%}

    