{% extends 'layout.html' %}

{% block content %}
{% load static %}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 50%;
  padding: 0 10px;
}

.card {
  margin-bottom: 20px;
}
</style>
</head>
<body>
<h2 style="text-align:center">Product Card</h2>
<br><br>
<br><br>
<center>
  <button style="margin-left: 30px; width: 150px;"><a class="btn btn-ash btn-md" href="/view_applied_schemes">5 Year Plan</a></button>
  <button style="margin-left: 30px; width: 150px;"><a class="btn btn-ash btn-md" href="/vw_insurance_book">Insurance</a></button>
  <button style="margin-left: 30px; width: 200px;"><a class="btn btn-ash btn-md" href="/vw_electri_book">Electricity</a></button>
  <button style="margin-left: 30px; width: 150px;"><a class="btn btn-ash btn-md" href="/vw_pension_book">Pension</a></button>
  <button style="margin-left: 30px; width: 150px;"><a class="btn btn-ash btn-md" href="/vw_state_h_m_book">State </a></button>
  <button style="margin-left: 30px; width: 200px;"><a class="btn btn-ash btn-md" href="/vw_pm_k_book">PM</a></button>
  

</center><br><br>
<!-- 
<center>
  <button style="margin-left: 30px; width: 150px;"><a class="btn btn-ash btn-md" href="/view_products">View Product</a></button>
  <button style="margin-left: 30px; width: 150px;"><a class="btn btn-ash btn-md" href="/add_products">Add Product</a></button>
  <button style="margin-left: 30px; width: 200px;"><a class="btn btn-ash btn-md" href="/view_add_products">View My Products</a></button>
  
  <button style="margin-left: 30px; width: 150px;"><a class="btn btn-ash btn-md" href="/view_booking">My Booking</a></button>
  
</center><br><br> -->
<div class="row">
  <div class="col-md-4 col-sm-4 col-lg-4" style="width: 160%;">
    <div class="card" style="width: 160%;">
        {% for i in a %}
          <p>  USER NAME :{{ i.uid.name }}</p><br>
          <p>  USER CONTACT :{{ i.uid.contact_number }}</p><br>

            <p>REQUIRED DOC:<br><a href="{{ i.required_document_for_submission.url }}" style="width: 60px; height: 60px;" >{{ i.required_document_for_submission.url }}</a></p><br>
            <p>SCHEME NAME :<br>{{ i.sid.sub_scheme }}</p><br>
            <p>HOUSE NO :{{ i.house_no }}</p><br>
            <p> RATION NO:{{ i.ration_card_no }}</p><br>
            <p> CATEGORY :{{ i.category }}</p><br>
            <p>PERMANANT RESIDENT :{{ i.permanent_resident }}</p><br>
            <p>ANNUAL INCOME :{{ i.annual_income }}</p><br>
            <p>OWN HOUSE :{{ i.own_house }}</p><br>
            <p>WASTED LAND:{{ i.wasteland }}</p><br>
            <p>HUT :{{ i.hut }}</p><br>
            <p>FLOOR AREA :{{ i.floor_area }}</p><br>
            <p>OWNERSHIP OF HOUSE :{{ i.ownership_of_the_house }}</p><br>
            <p>ROOF OF HOUSE :{{ i.roof_of_the_house }}</p><br>
            <p>WALL OF THE HOUSE :{{ i.wall_of_the_house }}</p><br>
            <p>FLOOR OF HOUSE  :{{ i.floor_of_the_house }}</p><br>

            <p>DRINKING WATER :{{ i.drinking_water }}</p><br>
            <p>TOILET  :{{ i.toilet }}</p><br>
            <p>DATE OF APPLIED :{{ i.date_of_applying }}</p><br>
            
            
            <p>AGE :{{ i.age_of_the_applicant }}</p><br>
       
        {% endfor %}

    </div>
   
  </div>






</body>












    </div>
{% endblock %}
