{%extends 'layout.html'%}
{%block content%}

    <head><title>APPROVAL</title></head>
    
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">ADDRESS</th>
                    <th scope="col">CONTACT</th>
                    <th scope="col">USERTYPE</th>
                    <th scope="col">APPROVE</th>
                    
                    
                   
                </tr>
            </thead>
            <tbody>
                {% for i in a%}
                <tr>
                   
                    
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.contact}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.usertype}}</td>
                    <td><a class="btn btn-success btn-sm" href="/appro/{{i.id}}">Approve</a></td>
                   
            
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>
        
 {%endblock%}